/* style reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* start */
@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2"), 
        url(../fonts/OpenSans-Bold.woff) format("woff"), 
        url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2"), 
        url(../fonts/OpenSans-Regular.woff) format("woff"), 
        url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Open Sans, Arial, sans-serif;
}

/* nav */
.header__body {
  position: relative;
  display: flex;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  transform: scale(0);
}

.container-header {
  font-family: Open Sans, Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  width: 180px;
}

.nav-list {
  display: flex;
  position: relative;
}

.nav-list-item {
  list-style: none;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
}

.nav-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.header-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  padding: 30px 0 120px;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  z-index: 99;
  position: relative;
}

.title {
  max-width: 866px;
  color: #ffffff;
  font-size: 45px;
  line-height: 1.8;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 120px auto 0;
}

/* trending */
.section-title {
  padding-bottom: 25px;
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 60px auto 40px;
}

.section-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.trending_body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.trends {
  display: flex;
  padding: 15px;
}

.trending_item {
  position: relative;
  width: calc(25% - 3px);
  display: flex;
  align-items: flex-end;
  min-height: 300px;
  max-height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trends::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trending_item:nth-child(n + 2) {
  margin-left: 4px;
}

.trending_textbox {
  border: 2px solid rgb(181 159 91 / 0.6);
  width: 100%;
  z-index: 5;
  padding: 30px 20px;
}

.trending_link {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  font-size: 20px;
  text-transform: uppercase;
}

.trending_title {
  margin-top: 15px;
}

.trending_title:hover {
  color: #b59f5b;
}

.bckgrnd-1 {
  background-image: url("../img/trend1.jpg");
}

.bckgrnd-2 {
  background-image: url("../img/trend2.jpg");
}

.bckgrnd-3 {
  background-image: url("../img/trend3.jpg");
}

.bckgrnd-4 {
  background-image: url("../img/trend4.jpg");
}

/* main */
.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  font-family: Open Sans, Arial, sans-serif;
}

.card {
  display: flex;
  align-items: flex-start;
}

.card:nth-child(n + 2) {
  margin-top: 60px;
}

.card-text {
  margin-left: 30px;
}

.card-list {
  display: flex;
}

.card-tag {
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.card-tag:hover {
  text-decoration: underline;
}

.card-li {
  list-style: none;
  margin-left: 15px;
  text-transform: uppercase;
}

.card-li:first-child {
  margin-left: 0;
}

.card-link,
.post-link {
  text-decoration: none;
  color: #000000;
}

.card-title {
  margin-top: 13px;
  margin-bottom: 35px;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
  font-size: 20px;
}

.card-title:hover {
  color: #b59f5b;
}

.time-section {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.author-link {
  margin-left: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.card-date {
  color: #888888;
}

.card-description {
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.5;
}

.card-paragraph:nth-child(n + 2) {
  padding-top: 10px;
}

.news-picture {
  width: 380px;
  flex: none;
}

.news-img {
  width: 100%;
}

/* side */
.side-section {
  margin-left: 120px;
  width: 275px;
  flex-shrink: 0;
}

.side-news {
  margin-bottom: 55px;
}

.side-title {
  padding-bottom: 25px;
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  font-size: 14px;
}

.side-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.new-posts {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.post-item {
  display: flex;
  margin-bottom: 20px;
}

.post-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 1.5;
}

.post-text {
  margin-left: 15px;
}

.search-bar {
  width: 100%;
}

.search-form {
  width: 100%;
  display: flex;
}

.field {
  background-color: #f4f7f6;
  padding: 6px 12px;
  width: 100%;
  height: 50px;
  text-transform: capitalize;
  font-size: 13px;
}

.field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.search-btn {
  flex: none;
  border: none;
  width: 50px;
  background: #b59f5b url(../svg/search.svg) no-repeat center / 20px;
}

.search-btn:hover {
  background-color: #323232;
}

.reader {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subscription {
  margin-top: 60px;
  margin-bottom: 60px;
}

.subscribe-form {
  width: 100%;
  display: block;
}

.subscribe-btn {
  width: 100%;
  background-color: #b59f5b;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 17px;
  font-size: 14px;
}

.subscribe-btn:hover {
  background-color: #323232;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.tags-item {
  margin-bottom: 5px;
  margin-right: 5px;
  border: 3px solid #eeeeee;
}

.tags-item:hover {
  border-color: #b59f5b;
}

.tags-link {
  display: block;
  padding: 10px 15px;
}

.tags-link,
.topics-link,
.copyright-section {
  text-decoration: none;
  color: #000000;
}

.topics-link:hover {
  color: #b59f5b;
}

.topics {
  margin-top: 60px;
}

.topics-list {
  list-style-type: none;
  font-weight: bold;
  text-transform: capitalize;
}

.topics-item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.topics-item:nth-child(n + 2) {
  padding-top: 15px;
}

.topics-link {
  font-size: 14px;
}

.number {
  vertical-align: super;
  color: #b59f5b;
  font-size: 12px;
  margin-left: 15px;
}

/* products */
.products_body {
  max-width: 1170px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 60px;
}

.product-desc {
  flex-grow: 1;
  border: 3px solid #d3c59d;
  padding: 40px 30px;
  margin-top: -30px;
}

.product-img {
  text-align: center;
}

.product-title {
  text-transform: uppercase;
  font-size: 20px;
}

.product-text {
  line-height: 1.5;
  font-size: 15px;
  margin-top: 10px;
}

.product-link {
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.buy-now {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.new-price {
  font-size: 20px;
  font-weight: bold;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 300;
}

.shop-btn {
  background-color: #b59f5b;
  padding: 20px 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.shop-btn:hover {
  background-color: #323232;
}

/* footer */
.footer-container {
  font-family: Open Sans, Arial, sans-serif;
  padding-bottom: 45px;
  text-align: center;
}

.footer-social {
  background-color: #f4f7f6;
  margin-bottom: 70px;
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.social-icons {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.social-item {
  margin-left: 30px;
}

.social-item:first-child {
  margin-left: 0;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.copyright-section {
  font-size: 12px;
}

.social_twitter {
  background-image: url(../svg/004-twitter.svg);
}

.social_pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social_facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.social_instagram {
  background-image: url(../svg/005-instagram.svg);
}

.social_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

/* pop-up */
.form-row {
  margin-bottom: 30px;
}

.form-select,
.form-textarea {
  width: 100%;
  padding: 15px;
  background-color: rgb(228, 228, 228);
  margin-top: 6px;
  resize: vertical;
  color: #000000;
  font-size: 15px;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 8px;
}

.form-textarea {
  min-height: 130px;
}

.radio {
  display: none;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: text-bottom;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.pop-up:target {
  opacity: 1;
  visibility: visible;
}

.pop-up-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.pop-up .section-title {
  margin: 0;
}

.pop-up-content {
  background-color: white;
  color: black;
  max-width: 390px;
  padding: 60px 30px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
}

.pop-up-close {
  position: absolute;
  background: url(../svg/form-x.svg) no-repeat center / cover;
  width: 20px;
  height: 20px;
  top: -25px;
  right: 0;
}

.contact-form {
  text-align: center;
}

.feedback {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  background-color: #b59f5b;
  padding: 10px 50px;
  width: 100%;
}

.feedback:hover {
  background-color: #323232;
}

.pop-up-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.label {
  display: block;
  margin-bottom: 10px;
}

/* NAV ONLY */
@media (max-width: 1199px) {
  body.active {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    float: right;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .nav-list-item:nth-child(n + 2) {
    padding-left: 0;
  }

  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 12, 0);
    overflow: auto;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .nav.active {
    top: 0;
  }

  .nav-list {
    display: block;
  }

  .nav-list-item {
    margin-bottom: 20px;
  }

  .header-link {
    font-size: 24px;
  }

  .nav-list-item:nth-child(n + 2) {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }

  .main {
    width: 100%;
  }

  .news-picture {
    width: 100%;
  }

  .trending_item {
    width: calc(50% - 3px);
    margin-bottom: 4px;
  }

  .trending_item:nth-child(odd) {
    margin-left: 0;
  }

  .trends {
    margin: 0 auto;
    width: 100%;
  }

  .content {
    margin: 40px auto;
  }

  .card {
    flex-direction: column;
  }

  .card:nth-child(n + 2) {
    margin-top: 40px;
  }

  .card-text {
    margin: 20px 0;
    max-width: 680px;
  }

  .product-item {
    width: calc(50% - 21px);
  }
}

@media (max-width: 768px) {
  .header {
    height: 100vh;
    background-image: url("../img/banner-mobile.jpg");
  }

  .container-header {
    flex-direction: column-reverse;
  }

  .header-nav {
    align-self: flex-end;
    margin-bottom: 170px;
  }

  .logo {
    width: 270px;
  }

  .title {
    margin-top: 40px;
  }

  .trending_item {
    width: 100%;
    margin-bottom: 4px;
  }

  .trending_item:nth-child(n + 2) {
    margin-left: 0;
  }

  .content {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    width: 100%;
    margin-left: 10px;
  }

  .card {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }

  .card:nth-child(n + 2) {
    margin-top: 35px;
  }

  .news-picture {
    width: calc(100% - 11px);
  }

  .card-text {
    margin: 10px 0;
    width: calc(100% - 11px);
  }

  .side-section {
    margin: 35px 10px;
    width: calc(100% - 11px);
  }

  .products_body {
    justify-content: center;
  }

  .product-item {
    width: 100%;
  }
}